version: 2
updates:
  - package-ecosystem: "nuget"
    assignees: ["frasermolyneux"]
    directory: "/src"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "02:15"
      timezone: "Etc/UTC"
    groups:
      nuget:
        patterns:
          - "*"

  - package-ecosystem: "terraform"
    assignees: ["frasermolyneux"]
    directory: "/terraform"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "02:15"
      timezone: "Etc/UTC"
    groups:
      terraform:
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    assignees: ["frasermolyneux"]
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "02:15"
      timezone: "Etc/UTC"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "devcontainers"
    assignees: ["frasermolyneux"]
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "02:15"
      timezone: "Etc/UTC"
    groups:
      devcontainers:
        patterns:
          - "*"