name: Build and Test

on:
  push:
    branches:
      - "feature/**"
      - "bugfix/**"
      - "hotfix/**"

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: frasermolyneux/actions/dotnet-ci@dotnet-ci/v1.1
        with:
          dotnet-version: |
            9.0.x
            10.0.x
          src-folder: "src"