name: Destroy Environment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to destroy"
        required: true
        type: choice
        default: dev
        options:
          - dev
          - prd

  
permissions: read-all

jobs:
  terraform-destroy:
    permissions:
      contents: read
      id-token: write # This is required for Az CLI Login
    environment: ${{ inputs.environment == 'prd' && 'Production' || 'Development' }}
    runs-on: ubuntu-latest

    concurrency: # Prevent multiple GitHub Actions invocations against stateful resources. e.g. Terraform state file / Database / Deployed Apps
      group: ${{ github.repository }}-${{ inputs.environment }}

    steps:
    - uses: frasermolyneux/actions/terraform-destroy@main
      with:
        terraform-folder: "terraform"
        terraform-var-file: ${{ inputs.environment == 'prd' && 'tfvars/prd.tfvars' || 'tfvars/dev.tfvars' }}
        terraform-backend-file: ${{ inputs.environment == 'prd' && 'backends/prd.backend.hcl' || 'backends/dev.backend.hcl' }}
        AZURE_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
        AZURE_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
        AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
